*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.testimonials{
    max-width: 1024px;
    margin: 5vh auto;
    padding: 20px;
}

.testimonials h2{
    font-size: 2em;
    font: 700;
    color: #333;
    margin-bottom: 60px;
}

.testimonials .testimony_wrapper{
    position: relative;
}
.testimonials .user_meta{
    display: flex;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
}
.testimonials .user_meta img{
    width: 64px;
    height: 64px;
    border-radius: 40px;
    margin-right: 20px;
}
.testimonials .user_meta h3{
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 0px;
    cursor: pointer;
}
.testimonials .user_meta p{
    color: #a3a3a3;
}
.testimonials .message_details,
.testimonials .user_meta{
    margin-top: 40px;
}

.testimonials .message_details .rating{
    color: orange;
}
.testimonials .message_details p{
    font-weight: 300;
    color: #333;
    line-height: 1.5em;
    font-size: 1em;
}
.testimonials .message_details{
    display: none;
}

/* Profile Open */
.testimonials .profile.open .user_meta{
    box-shadow: 1px 1px 70px rgba(0 0 0 / .1);
}
.testimonials .profile.open .message_details{
    display: block;
}

@media (min-width: 720px){
    .testimonials .profile.open .message_details{
        position: absolute;
        width: 55%;
        right: 0;
        top: -50px;
    } 
}
@media (min-width: 1024px){
    .testimonials .user_meta{
        max-width: 350px;
    } 
}
@media (max-width: 280px){
    .testimonials .user_meta{
        display: block;
    } 
}












/* Footer */
footer{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(00 84 80 / .2);
    padding-top: 50px;
}

footer h2 {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-size: 10px;
}

footer p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.8em;
}

@media (min-width: 720px){
    footer p{
        width: 80%;
    }
}